<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 设置日志打印方式 -->
	<settings>
		<setting name="logImpl" value="LOG4J" />
		<!-- <setting name="autoMappingBehavior" value="NONE"/> -->
	</settings>
	
	<!-- 引入Mapper.xml -->
	<mappers>

		<mapper resource="cn/bdqn/smbms/dao/user/UserMapper.xml" />
		
	</mappers>

</configuration>
